<a href="https://colab.research.google.com/github/EwemadeAugustine/MyFirstRepo/blob/main/Copy_of_MongoDB_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MongoDB Assignment

## Learning outcomes

The purpose of this assignment is for learners to be able to:
- Familarize with JSON document syntax
- Understand basic MongoDB CRUD operations
- Understand MongoDB data pipelines to run aggregate queries


This dataset has 3 collections: Employee, Workplace and Address.  You will import this data into your local MongoDB database.

Required imports for this project are given below.

In [1]:
!pip -q install "pymongo[srv]"

WARNING: pymongo 4.11.3 does not provide the extra 'srv'
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 6.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 23.0 MB/s eta 0:00:00

In [2]:
#required imports
import os
import json
import datetime
import pymongo
import pprint
import pandas as pd
import numpy as np
from pymongo import MongoClient
print('Mongo version', pymongo.__version__)

Mongo version 4.11.3

We first need to connect to MongoDB Atlas Cluster using the connection string.

In [3]:
# Find connection string on MongoDB Atlas and
client = pymongo.MongoClient("mongodb+srv://Aus:123@cluster0.8ljuz.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0") # Replace the connection string here between ""
db = client.assignment1
db

Database(MongoClient(host=['cluster0-shard-00-01.8ljuz.mongodb.net:27017', 'cluster0-shard-00-00.8ljuz.mongodb.net:27017', 'cluster0-shard-00-02.8ljuz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-vpb2z5-shard-0', tls=True), 'assignment1')

After installing necessary modules proceed to import the data into your database. The following lines will download the files into your workspace.

In [4]:
# Download JSON datasets to workplace
!wget -q https://raw.githubusercontent.com/tofighi/BigData/main/datasets/work/Address.json
!wget -q https://raw.githubusercontent.com/tofighi/BigData/main/datasets/work/Employee.json
!wget -q https://raw.githubusercontent.com/tofighi/BigData/main/datasets/work/Workplace.json

In [5]:
# Let's delete any existing collections in our database
db.workplace.drop()
db.address.drop()
db.employee.drop()

# Import our files into our three collections
with open('Employee.json') as f:
    db.employee.insert_many(json.load(f))
with open('Workplace.json') as f:
    db.workplace.insert_many(json.load(f))
with open('Address.json') as f:
    db.address.insert_many(json.load(f))

#### Question 1

The address collection contains employee from different ages and interests.  Perform a simple query to list all employees that are less than or equal to 50 and like Cooking.

__NOTE:__ the following shows the structure of an Employee document that will help you construct the query.

In [8]:
pprint.pprint(client.assignment1.employee.find_one())

{'_id': '9f39da36-82cc-4353-ab90-d616105fa7c1',
 'address_id': 'b6c0b50a-d0e3-43bf-a2a4-8d4674c2a7e8',
 'age': 40,
 'email': 'ih@ri.ro',
 'firstname': 'Emilie',
 'interests': ['Bowling', 'Cooking', 'Golf', 'Swimming'],
 'lastname': 'Woods',
 'workplace_id': 'a32bf18d-e0e5-48f2-a851-aa49c80f9460'}

In [12]:
query = {
    "age": {"$lte": 50},
    "interests": "Cooking"
}
result = db.employee.find(query)
import pprint
for employee in result:
    pprint.pprint(employee)

{'_id': '9f39da36-82cc-4353-ab90-d616105fa7c1',
 'address_id': 'b6c0b50a-d0e3-43bf-a2a4-8d4674c2a7e8',
 'age': 40,
 'email': 'ih@ri.ro',
 'firstname': 'Emilie',
 'interests': ['Bowling', 'Cooking', 'Golf', 'Swimming'],
 'lastname': 'Woods',
 'workplace_id': 'a32bf18d-e0e5-48f2-a851-aa49c80f9460'}
{'_id': 'af27265e-6639-49f2-991e-193275a4111a',
 'address_id': '64fd714d-e219-4e45-888b-cc2238a8bd0b',
 'age': 18,
 'email': 'sug@gon.bf',
 'firstname': 'Thomas',
 'interests': ['Cooking', 'Cricket', 'Tennis', 'Swimming', 'Fishing'],
 'lastname': 'Patterson',
 'workplace_id': '5345fcb9-6297-4b9f-aa15-cbee8460f28f'}
{'_id': '00289d48-bad8-4b73-a359-a1a1f05c96e2',
 'address_id': '8a430805-00b8-40a6-bd93-c950b544a83b',
 'age': 22,
 'email': 'ra@dupnejuk.nr',
 'firstname': 'Sophia',
 'interests': ['Hiking', 'Soccer', 'Bowling', 'Rubgy', 'Cooking', 'Dancing'],
 'lastname': 'Flores',
 'workplace_id': 'b12cd444-e65b-4bc2-8cf6-2dbe854a627b'}
{'_id': 'da76e52b-b3db-4fc0-b0d6-435d1aed0cd9',
 'address_id': '5d3eacc4-d1d8-459b-973c-3bc71feacf50',
 'age': 25,
 'email': 'ro@nemaw.et',
 'firstname': 'Ollie',
 'interests': ['Cooking', 'Bowling', 'Dancing'],
 'lastname': 'Barnett',
 'workplace_id': 'cb795afb-8dc3-482f-b3a0-14229a280afa'}
{'_id': '51643cd6-49bb-45d5-bd6e-717c62bb2869',
 'address_id': '3f10d9f7-57ef-40e1-a97d-d2ee53aa2c6e',
 'age': 27,
 'email': 'hutfardu@vicbiri.gb',
 'firstname': 'James',
 'interests': ['Rubgy', 'Tennis', 'Cricket', 'Cooking'],
 'lastname': 'Wilkins',
 'workplace_id': 'cb795afb-8dc3-482f-b3a0-14229a280afa'}
{'_id': 'f073a705-6546-4375-adb5-b224871776ef',
 'address_id': 'f4e59d7e-ea40-442d-87be-106e3c46a554',
 'age': 25,
 'email': 'fekegim@lucul.tp',
 'firstname': 'Aaron',
 'interests': ['Cooking'],
 'lastname': 'Carr',
 'workplace_id': 'b2a2844d-aeab-4602-b74c-01bf3b8e9c78'}
{'_id': '457ef68c-9651-4925-bca0-15e246661d19',
 'address_id': '5e97658e-5809-41b8-a088-eddbd81f86a7',
 'age': 34,
 'email': 'jus@goal.bn',
 'firstname': 'Alta',
 'interests': ['Cricket', 'Cycling', 'Rubgy', 'Golf', 'Cooking', 'Dancing'],
 'lastname': 'Sharp',
 'workplace_id': 'b2a2844d-aeab-4602-b74c-01bf3b8e9c78'}
{'_id': '840184a3-4c4d-4b15-8813-30fca6e7827b',
 'address_id': '456e18ae-c2f8-443e-899d-f2b893499695',
 'age': 36,
 'email': 'me@wak.ne',
 'firstname': 'Delia',
 'interests': ['Cricket', 'Cooking', 'Hiking', 'Dancing', 'Tennis'],
 'lastname': 'Douglas',
 'workplace_id': 'b2a2844d-aeab-4602-b74c-01bf3b8e9c78'}
{'_id': '6157dc3b-ee2d-463a-b62b-1cd4eed7d575',
 'address_id': '8d162eb9-eefc-4b7e-bcad-6fb7a02b15b0',
 'age': 48,
 'email': 'co@pog.nz',
 'firstname': 'Dominic',
 'interests': ['Cycling', 'Dancing', 'Cooking'],
 'lastname': 'Wade',
 'workplace_id': 'cb795afb-8dc3-482f-b3a0-14229a280afa'}
{'_id': 'cc3e389d-be0d-467a-ba70-7c84f6504911',
 'address_id': '0d3a90d5-11bd-4f96-91ba-7e7ef80888f0',
 'age': 36,
 'email': 'saj@far.zm',
 'firstname': 'Myrtle',
 'interests': ['Cooking', 'Cycling', 'Hiking', 'Rubgy', 'Bowling', 'Dancing'],
 'lastname': 'Little',
 'workplace_id': '2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f'}
{'_id': 'c2bf0e3f-e3de-41de-b745-c5b70571dd3a',
 'address_id': '7edd78a4-c4e6-484a-bf2f-ecad5c4c506b',
 'age': 29,
 'email': 'co@mahdo.ca',
 'firstname': 'Jordan',
 'interests': ['Swimming', 'Cooking'],
 'lastname': 'Roberson',
 'workplace_id': 'cb795afb-8dc3-482f-b3a0-14229a280afa'}
{'_id': '4bc070ca-f849-4eeb-8ab2-98fe3c0861c0',
 'address_id': 'fc607f68-81c8-4ca8-8a9e-30239ccae40f',
 'age': 38,
 'email': 'pa@sodej.ck',
 'firstname': 'Francis',
 'interests': ['Dancing', 'Swimming', 'Cooking', 'Bowling', 'Cycling'],
 'lastname': 'Harris',
 'workplace_id': '2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f'}
{'_id': '66894dba-4ff0-4545-b7cc-eb6a5bd551c5',
 'address_id': '4dcebe6e-0787-4158-9744-3d721098cec4',
 'age': 49,
 'email': 'do@womjip.by',
 'firstname': 'Clara',
 'interests': ['Soccer', 'Cooking', 'Cycling'],
 'lastname': 'Butler',
 'workplace_id': '50275ad1-8140-4e79-8818-21793e3eb0a3'}
{'_id': '581f59a2-ff4c-407e-b58f-e4f292208928',
 'address_id': '1cf24906-c700-41bb-a4c8-bba3c3ae30d9',
 'age': 33,
 'email': 'vasberet@his.nz',
 'firstname': 'Rena',
 'interests': ['Cycling', 'Swimming', 'Soccer', 'Cooking'],
 'lastname': 'Johnson',
 'workplace_id': '2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f'}
{'_id': 'b2a2ae86-f4f6-4da5-ade6-ee1cd135daf3',
 'address_id': 'ef5a17a2-6f11-49b8-a0fd-e0bddc56f185',
 'age': 49,
 'email': 'ah@jopah.uz',
 'firstname': 'Gavin',
 'interests': ['Rubgy', 'Cooking', 'Bowling'],
 'lastname': 'Conner',
 'workplace_id': '50275ad1-8140-4e79-8818-21793e3eb0a3'}
{'_id': '2bfc0479-cb15-46e1-94fa-801404791b21',
 'address_id': '77ce0c50-afd6-47e8-86d7-b1b372e8deb2',
 'age': 37,
 'email': 'usope@tega.bh',
 'firstname': 'Peter',
 'interests': ['Cooking', 'Swimming', 'Cricket'],
 'lastname': 'Jimenez',
 'workplace_id': 'cb795afb-8dc3-482f-b3a0-14229a280afa'}

#### Question 2  

Insert a new Employee with the following properties:

* First Name: Jake
* Last Name: Sample
* Email: jakesample@email.com
* Age: 26
* Interest: Biking, Hiking

Also, this employee works for 'Union Planters Corp' and lives at '573 Wojhas Square, Victoria'.
Verify that the insert succeeded and display the generated employees _id attribute.

__HINT__ An Employee document references a Workplace and Address document

In [19]:
new_employee = {
    "firstname": "Jake",
    "lastname": "Sample",
    "email": "jakesample@email.com",
    "age": 26,
    "interests": ["Biking", "Hiking"],
    "workplace_id": db.workplace.find_one({"name": "Union Planters Corp"})["_id"] if db.workplace.find_one({"name": "Union Planters Corp"}) is not None else None,  # Reference to Workplace document, handle if not found
    "address_id": db.address.find_one({"address": "573 Wojhas Square, Victoria"})["_id"] if db.address.find_one({"address": "573 Wojhas Square, Victoria"}) is not None else None  # Reference to Address document, handle if not found
}

# Insert the new employee into the collection
employee_id = db.employee.insert_one(new_employee).inserted_id

In [22]:
# Verify the insertion
print(f"New employee inserted with _id: {employee_id}")

New employee inserted with _id: 67e0232a756fbfa864111809

#### Question 3

Delete all employees that work for 'Great Plains Energy Inc.' and are greater than 46 years old and likes 'Tennis'.  Once you delete the employees verify the number of employees deleted.

In [23]:
# Define the query for deletion
query = {
    "workplace_id": db.workplace.find_one({"name": "Great Plains Energy Inc."})["_id"],  # Reference to Workplace document
    "age": {"$gt": 46},  # Employees greater than 46 years old
    "interests": "Tennis"  # Employees who like "Tennis"
}

# Perform the deletion
delete_result = db.employee.delete_many(query)

# Verify the number of deletions
print(f"Number of employees deleted: {delete_result.deleted_count}")

Number of employees deleted: 4

#### Question 4
Add a new field called 'industry' to all employees that work for 'Health Net Inc.'.

__HINT__ All a new field to a document is like updating the document

In [24]:
# Find the workplace_id for "Health Net Inc."
health_net_id = db.workplace.find_one({"name": "Health Net Inc."})["_id"]

# Update all employees who work for "Health Net Inc." to include the 'industry' field
update_result = db.employee.update_many(
    {"workplace_id": health_net_id},
    {"$set": {"industry": "Healthcare"}}
)

# To Verify the number of updated documents
print(f"Number of employees updated: {update_result.modified_count}")

Number of employees updated: 14

#### Question 5

Create an aggregate query to count the number of employees for each company and sort the output from largest employee count to lowest employee count.

__NOTE__ you will use a pipeline to achieve the computed result.  You should produce a result similar to the following table (the following table contains fake data)
<table>
    <tr><th></th><th>_id</th><th>count</th></tr>
    <tr><td>0</td><td>[Equity Residential Properties Trust]</td><td>19</td></tr>
    <tr><td>...</td><td>...</td><td>...</td></tr>
    <tr><td>7</td><td>[Bell Microproducts Inc.]</td><td>6</td></tr>
    <tr><td>8</td><td>[Kemet Corp.]</td><td>1</td></tr>
</table>

__HINT__ you should make use of the \\$lookup, \\$group and \\$sort pipeline operations

In [25]:
# Aggregation pipeline
pipeline = [
    {
        "$lookup": {
            "from": "workplace",
            "localField": "workplace_id",
            "foreignField": "_id",
            "as": "workplace_info"
        }
    },
    {
        "$group": {
            "_id": {"$arrayElemAt": ["$workplace_info.name", 0]},  # Extract the workplace name
            "count": {"$sum": 1}  # Count employees
        }
    },
    {
        "$sort": {
            "count": -1
        }
    }
]

# To Execute the aggregation query
query_result = db.employee.aggregate(pipeline)

# To Convert the query result to a Pandas DataFrame
import pandas as pd
df = pd.DataFrame(list(query_result))

# Display the DataFrame
print(df)

                                   _id  count
0                     Hilton Solutions     15
1                      Health Net Inc.     14
2                           Aetna Inc.     13
3              Bell Microproducts Inc.     11
4                  Union Planters Corp     10
5       Equity Office Properties Trust     10
6  Equity Residential Properties Trust      7
7                          Kemet Corp.      6
8                        Xcel Bear Inc      6
9             Great Plains Energy Inc.      5